body {
  margin: 0;
  padding: 0;
  width: 500px;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #333;
}

.header {
  background: linear-gradient(to right, #4caf50, #ffeb3b); /* Green to yellow gradient */
  color: white;
  text-align: center;
  padding: 10px;
}

#calculator {
  padding: 15px;
  margin: 10px 0;
}

#operation {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

input[type="number"],
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="number"],
select {
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #a5d6a7;
  color: #666666;
  cursor: not-allowed;
}

#result {
  background-color: #fffde7;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#numericResult {
  color: #00C853;
  font-weight: bold;
}

#copyToClipboard {
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #ffeb3b;
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px; /* Use half of the width (120px/2 = 60px) to center the tooltip */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffeb3b  transparent transparent transparent;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
