body {
    width: 300px;
    padding: 10px;
}

#calculator {
    margin-top: 20px;
}

input, select, button {
    width: calc(100% - 22px); /* Adjust width to account for padding and borders */
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: block;
}

#result {
    margin-top: 10px;
}

#copyToClipboard {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 16px; /* Adjust based on your design */
}

